{
  "extends": [
    "kentcdodds/best-practices",
    "kentcdodds/possible-errors",
    "kentcdodds/es6/best-practices",
    "kentcdodds/es6/possible-errors",
    "kentcdodds/import/best-practices",
    "kentcdodds/import/possible-errors",
    "kentcdodds/mocha",
    "kentcdodds/react",
    "kentcdodds/webpack",
    "kentcdodds/jsx-a11y"
  ],
  "rules": {
    "mocha/no-hooks": 0,
    "react/prefer-stateless-function": 0,
    "no-invalid-this": 0,
  },
}
