@import "vars";

.home-logo {
  width: 170px;
  display: block;
  margin: 60px auto 110px auto;
}

.accounts {
  .accounts-cont {
    max-height: calc(100% - 310px);
    overflow: scroll;
  }
  .list-group-item {
    border-radius: 0;
  }
}